extends ../layout

block content 
    h1 Libros 
   

    p Para los amantes de a lectura 
    form(action="/search", method="get" id="search-form")
        input(type="text", name="search-text", id="search-text", placeholder="Buscar libro")
        input(type="image", src="img/lupa.png",alt="Submit", id="lupa")  
    table(class="table table.striped", id="books")
        thead    
        tbody 
            each book in books 
                tr
                    td
                        a(href=`/book/${book.idbook}`)
                            img(src=`/img/${book.book_cover}`, class="book-cover")
                    
                    td 
                        form(action=`/books/book/${book.idbook}`, method="get", class="formBookOption")
                        input(type="submit", name="btn-reservado", value="Reservar", class="btnBookOption btn-reservado")
                        script(src="reserveController.js")
                        form(action=`/books/book/${book.idbook}`, method="get", class="formBookOption")
                        a(href="/chat")
                            input(type="submit", name="chat", value="Chat", class="btnBookOption")
                    
                        if user && user.role == "admin"
                            form(action=`/edit/${book.idbook}`, method="get", class="formBookOption")
                                input(type="submit", name="btn edit", value="Editar", class="btnBookOption")
                            form(action=`/delete/${book.idbook}`, method="post", class="formBookOption")
                                input(type="submit", value="Eliminar", class="btnBookOption")
                            
    

